.Field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  user-select: none;
}

.Label {
  font-size: 13px;
  text-align: left;
  color: #adb5bd;
}

.Container {
  display: flex;
  background-color: #e9ecef;
  padding: 15px;
  border-radius: 10px;
}

.Input {
  flex: 1;
  border: none;
  font-size: 15px;
  font-weight: bold;
  font-family: inherit;
  outline: none;
  background-color: transparent;
  color: #212529;
  padding: 0;
}
